xml-resources/jaxb/claseIncidencias/incidenias.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="incidencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="incidencia" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="origen"/>
                    <xs:element type="xs:string" name="destino"/>
                    <xs:element type="xs:string" name="detalle"/>
                    <xs:element type="xs:string" name="tipo"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="fechahora" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>